<div id="sidebar_container">
    <div class="sidebar">
    	<img class="paperclip" src="{{ asset('img/theme/paperclip.png') }}" alt="paperclip" />
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>C'est en ligne !</h4>
        <h5>Date de mise en ligne</h5>
        <p>Incroyable mais vrai : Le site est en ligne ! N'hésitez pas à dire que son auteur est formidable et que c'est beau. Vous le pensez.
        Si si.</p>
    </div>
    <div class="sidebar">
    	<img class="paperclip" src="{{ asset('img/theme/paperclip.png') }}" alt="paperclip" />
        <!-- insert your sidebar items here -->
        <h3>Latest News 2</h3>
        <h4>Y'a toujours un n°2...</h4>
        <h5>Date de mise en ligne</h5>
        <p>Le Tournoi des 6 nations a commencé ! RDV <a href='http://shyrel.byethost6.com'>ici</a> pour jouer</p>
    </div>
</div>