#header, #site_content, #footer, #logo{
	width:100%;
}
#main{
	width:80%;
}
#sidebar_container{
	width:20%;
}
#content{
	width:76%;
}
.paperclip{
	margin:0;
	position:absolute;
	top:-14%;
	left:-11%;
}
.sidebar{
	position:relative;
	width:80%;
}
.tab_generale{
	width:97%;
}
#notifications{
	display:inline-block;
}
.category{
	float:left;
	width:100%;
	margin:0;
}
.category_title{
	border-bottom:2px solid gray;
}
.category td{
	border-top:0;
}
.category td p{
	padding:0px;
}
.category_img{
	border-radius:15px; 
	float:left;
	margin-right:8px;
	height:30px;
	width:30px;
}
table.link{
	margin:0;
}
a.td_link{
	text-decoration:none;
	font-style:italic;
	transition-duration: 0.3s;
}
a.td_link:hover{
	color:#F14E23;
}
h3{
	font-size:160%;
	margin-bottom:0px;
	font-weight:bold;
}
#userList{
	display:none;
	position:absolute;
	border:2px dotted black;
	background:white;
	border-radius:20px 20px 0 0;
}
#userList th{
	border-radius:20px 20px 0 0;
}
table.user{
	margin:0px;
}
table tr td{
	vertical-align:top;
}
#notifications{
	position:absolute;
	border:2px dotted black;
	display:none;
	background:white;
	z-index:999;
}
#notifications a{
	float:none;
	display:inline;
	padding:0;
}
#notifications table{
	margin:0;
}